# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.env.*
.envrc

# IDE
.idea/
.vscode/
.vs/

# Cache and temp files
.cache/
.pytest_cache/
.coverage
.ruff_cache/
.mypy_cache/
.tox/
.nox/

# Dev tools
.python-version
.editorconfig

# Log files
*.log
logs/
app/logs/

# Build artifacts
dist/
build/
*.egg-info/
.pybuilder/
target/

# Docs
#README.md
#LICENSE
#*.md

# Tests
.hypothesis/
htmlcov/
cover/
nosetests.xml
coverage.xml
*.cover
*.py.cover

# Temp files
.DS_Store
Thumbs.db
*.tmp
*.temp

# Docker
docker/
examples/
.dockerignore
README.md
app/**/*.md
.github/
tests/
.devcontainer/
tmp/
app/tmp/
